<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657201887997-csor4krdkjsdiottq2d74fjttnlgq599.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657201887997-csor4krdkjsdiottq2d74fjttnlgq599</string>
	<key>API_KEY</key>
	<string>AIzaSyA6yktSRNVcsl6DPbkh2D9i01-RRWtv5QM</string>
	<key>GCM_SENDER_ID</key>
	<string>657201887997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tipitopsinc.faroshgah</string>
	<key>PROJECT_ID</key>
	<string>tipitops-46825</string>
	<key>STORAGE_BUCKET</key>
	<string>tipitops-46825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657201887997:ios:3ed5695e01fa34a8fcdc94</string>
	<key>DATABASE_URL</key>
	<string>https://tipitops-46825.firebaseio.com</string>
</dict>
</plist>